@import '../_mixinandvars.scss';
/* Header */
.header{
  border-bottom: 1px solid var(--borderColor);
  height: 88px;
  display: flex;
  align-items: center;
  gap:16px;
  padding: 0 48px
}


.search-section{
  
  margin-right: 16px;
  height: 44px;
  max-width: 418px;
  position: relative;
  flex-grow: 1;

  
  .search-icon{
    position: absolute;
    top: 8px;
    left: 12px;
  }
  .input-search{
    border-radius: 6px;
    border: none;  
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 60px;
    background: var(--backgroundPage);
  }
}
.icons-section{
  display: flex;
  gap: 30px;
  margin-left: auto;
  svg{
    cursor: pointer;
  }
  .notification-badge{
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
    &::before{
      content: ' ';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 4px;
      background-color:#D8727D;
      right: 4px;
      top: 1px;
    }
  }
}

.cuser-section{
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  .user-name-cal{
    text-align: right;
    margin-left: 32px;
    .user-name{
      color: var(--colorMain);
      font-size: var(--textBase);
    }
    .user-location{
      color: var(--colorSecond);
      font-size: var(--textSm)
    }
  }
}
.mobile-menu{
  display: none;
  .arrow-left{
    rotate: 180deg;
  }
}


@include mtos{
  .header{
    padding: 0 16px;
  }

  
  .mobile-menu{
    display: block;
  }
  
}

@include stox{
  .header{
    flex-wrap: wrap;
    padding: 16px;
    height: auto;
    
  }
  
  .cuser-section {
    margin-left: 16px;
    .user-name-cal{
      display: none;
    }
  }
  .search-section{
    margin-left: 16px;
    max-width: 100%;
    flex-basis: 100%;
    order: 1;
    margin: 0;
    
  }
  .icons-section{
    gap: 16px;
  }
}