@import '../_mixinandvars.scss';
.tasks-box{
  background: #F5F5F5;
  border-radius: 16px;
  padding: 20px;
  gap:24px;
  width: 354px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 500px;
  .tasks-box-title{
    border-bottom: 3px solid #5030E5;
    display: flex;
    align-items: center;
    gap:8px;
    padding-bottom: 20px;
  }
  .tasks-box-dot{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #5030E5;
  }
  .tasks-box-text{
    font-weight: 600;
    color: var(--colorMain);
    font-size: var(--textBase);
  }
  .tasks-box-no{
    background: #E0E0E0;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #625F6D; 
    font-size: var(--textXs);
  }
  .dropdown-cover{
    margin-left: auto;
  }
  &.green{
    .tasks-box-dot{
      background: var(--bgGreen);
    }
    .tasks-box-title{
      border-bottom: 3px solid var(--bgGreen);
    }
  }
  &.orange{
    .tasks-box-dot{
      background: var(--bgOrange);
    }
    .tasks-box-title{
      border-bottom: 3px solid var(--bgOrange);
    }
  }
  &.purple{
    .tasks-box-dot{
      background: var(--bgPurple);
    }
    .tasks-box-title{
      border-bottom: 3px solid var(--bgPurple);
    }
  }
  &.blue{
    .tasks-box-dot{
      background: var(--bgBlue);
    }
    .tasks-box-title{
      border-bottom: 3px solid var(--bgBlue);
    }
  }

}

@include mtos{
}
@include stox{
  .tasks-box{
    width: 100%;
    min-height: auto;
  }
}