@import './_mixinandvars.scss';

.app{
  background: #FFFFFF;
  box-shadow: 0px 44px 84px 6px #D8D9DB;
  border-radius: 30px;
  display: flex;
  &::after{
    content: ' ';
    height:100% ;
    width: 100%;
    background: rgba( 0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  
  .main-section{
    width: 100%;
    overflow: hidden;
  }

  &.close-sidebar{
    &::after{
      display: none;
    }
    .sidebar{
      width: 0px;
      border-right: 0px;
      overflow: hidden;
      & > section,& > nav{
        opacity: 0;
      }
    }
    .mobile-menu{
      display: block;
    }

  }
}

.content-section{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 38px;
  margin: 40px 48px 40px  48px;
  overflow: hidden;
}



@include mtos{
  .app{
    
    border-radius: 8px;
    &::after{
      display: block;
    }
  }
}

@include stox{
 
  .content-section{
    margin: 16px;
  }
}