@import './_mixinandvars.scss';

.app{
  background: #FFFFFF;
  box-shadow: 0px 44px 84px 6px #D8D9DB;
  border-radius: 30px;
  display: flex;
  &::after{
    content: ' ';
    height:100% ;
    width: 100%;
    background: rgba( 0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  
  .main-section{
    width: 100%;
    overflow: hidden;
  }

  &.close-sidebar{
    &::after{
      display: none;
    }
    .sidebar{
      display: none;
    }
    .mobile-menu{
      display: block;
    }

  }
}

.content-section{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 40px;
  margin: 40px 48px 40px  48px;
  overflow: hidden;
}

.task-card{
  background: #FFFFFF;
  border-radius: 16px;
  padding: 20px;
  gap:24px;
  display: flex;
  flex-direction: column;
  .priority-row{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .priority-row-text{
      background: rgba(223, 168, 116, 0.2);
      border-radius: 4px;
      padding: 4px 6px;
      font-size: var(--textXs);
      color:  #D58D49;

    }
    .priority-row-more{
        font-weight: 800;
        color: var(--colorMain);
        cursor: pointer;
    }
  }
  .card-title{
    margin-bottom: 4px;
  }
  .card-detais{
    font-size: var(--textXs);
  }
  .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-users .avtar{
      width: 24px;
      height: 24px;
      margin-left: -6px;
    }
    .card-sta{
      display: flex;
      gap: 12px;
      font-size: var(--textXs);
      .card-sta-item{
        display: flex;
        align-items: center;
        gap:4px;
      }
    }
  }
}

@include mtos{
  .app{
    
    border-radius: 8px;
    &::after{
      display: block;
    }
  }
}

@include stox{
 
  .content-section{
    margin: 16px;
  }
}